.section {
    clear: left;
    padding-top: 10px;
}

.image {
    padding-top: 20px;
    width: 50px !important;
}
.imagesize
{
    width:180px;
    height: 130px; 
}
.contentDiv {
    width: 500px !important;
    padding-left: 180px;
}

.content {
    font-size: 14px;
}

.category {
    font-size: 11px;
}

.section div {
    float: left;
    width: 10px;
}
