.section {
    clear: left;
    padding-top: 10px;
}

.image {
    width: 300px !important;
}

.contentDiv {
    width: 700px !important;
    padding-left: 15px;
}

.content {
    font-size: 14px;
}

.category {
    font-size: 11px;
}

.contentReading {
    background-color: #ed674c;
    width: 130px !important;
    padding: 5px !important;
}

.section div {
    float: left;
    width: 10px;
}
