td {
   padding-left: 30px;
   padding-top: 10px;
   padding-bottom: 30px;
   padding-right: 30px;
}
input,textarea,button{
   margin-top: 5px;
}
table {
   margin-left: 300px;
   margin-top: 30px;
   margin-bottom: 100px;
   border-collapse: collapse;
   border: 1px solid black;
 }
 .textarea{
   height: 100px;
   width: 300px;
 }
 
 