.header {
   background-color: rgb(121, 153, 184);
   width: 1150px;
   height: 30px;
}
.login {
   margin-left: 300px;
   margin-top: 30px;
   margin-bottom: 100px;
 }
 .login td {
   padding-left: 30px;
   padding-top: 10px;
   padding-bottom: 30px;
   padding-right: 30px;
}
.login button
{
   margin-left: 200px;
}