td {
   padding-left: 30px;
   padding-top: 10px;
   padding-bottom: 30px;
   padding-right: 30px;
}
input,textarea,button{
   margin-top: 5px;
}
table {
   margin-top: 30px;
   margin-bottom: 30px;
 }
 .textarea{
   height: 100px;
   width: 300px;
 }
 
 