.section {
    clear: left;
    padding-top: 10px;
}

.image {
    padding-top: 20px;
    width: 190px !important;
}
.imagesize
{
    width:180px;
    height: 130px; 
}
.contentDiv {
    width: 900px !important;
}

.content {
    font-size: 14px;
}

.category {
    font-size: 11px;
}

.contentReading {
    background-color: #ed674c;
    width: 130px !important;
    padding: 5px !important;
}

.section div {
    float: left;
    width: 10px;
}
